.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.nav-list {
  display: flex;
  padding: 0;
}

.nav-item {
  margin-right: 25px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 8px;
  padding-left: 20px;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
}

.nav-background {
  border-radius: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 40px;
  padding-left: 0;
  padding-right: 0;
  width: 460px;
  display: flex;
  justify-content: center;
}

.nav-container ul li a:hover {
  color: #16b7ea;
}

.nav-item a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.nav-item a::before,
.nav-item a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

.nav-item a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-item a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

.nav-item a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.nav-item a:hover:after {
  transform: translate3d(0, 0, 0);
}

.nav-item a {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-item a:hover span {
  transform: translate3d(-200%, 0, 0);
}


